<div class="columns is-mobile" data-controller="character">
  <div class="column">
    <p class="time has-text-<%= character.amp_color %>">
      <span  data-target="character.amp"><%= character.amp_time_left %></span><small>s</small>
    </p>
  </div>
  <div class="column is-two-fifths is-clipped has-text-<%= character.enemy? ? 'danger' : 'success' %>">
    <p class="name" data-target="character.name"><%= character.name %></p>
  </div>
  <div class="column amp has-text-centered" data-action="click->character#ampedEvent">
    <p>AMP</p>
  </div>
  <div class="column has-background-danger has-text-centered" data-action="click->character#cancel">
    <p>X</p>
  </div>
</div>
