<section class="hero hb-title">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        HBTimer
      </h1>
      <h2 class="subtitle">
        Time your Helbreath
      </h2>
      <%= form_with(model: @room, local: true) do |f| %>
        <%= f.text_field :name, icon_class: 'fas fa-user',
                         value: @character_name,
                         label_text: 'Character Name',
                         placeholder: 'type-something-unique' %>
        <%= f.text_field :code, icon_class: 'fas fa-house-user',
                         errors: @room.errors[:code],
                         label_text: 'Room Code',
                         placeholder: 'type-something-unique' %>
        <button class="button is-primary is-fullwidth" type="submit">Join!</button>
      <% end %>
    </div>
  </div>
</section>

