<section class="hero hb-title" data-controller="rooms">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        HBTimer
      </h1>
      <h2 class="subtitle">
        Time your Helbreath
      </h2>
      <form data-action="rooms#join">
        <div class="field">
          <label class="label">Character Name</label>
          <div class="control has-icons-left">
            <input class="input" type="text" placeholder="the character you are using in-game" data-target="rooms.name">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Room Code</label>
          <div class="control has-icons-left">
            <input class="input" type="text" placeholder="type-something-unique" data-target="rooms.code">
            <span class="icon is-small is-left">
              <i class="fas fa-house-user"></i>
            </span>
          </div>
        </div>
        <button class="button is-primary is-fullwidth" type="submit">Join!</button>
      </form>
    </div>
  </div>
</section>

