@import 'bulma/bulma';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

body {
  min-height : 100vh;
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hb-title {
  .title, .subtitle, .label, p {
    color: white;
  }
}
.room-header {
  p {
    color: white;
  }
  small {
    color: #999999;
    font-size: 0.875em;
  }
}

.self-timers {
  .column {
    cursor: pointer;
    color: white;
    p {
      font-size: 7vh;
    }
    small {
      font-size: 2vh;
    }
  }
}

.amp {
  background-color: #0aecec;
  color: white
}

.hp {
  background-color: #f62c2c;
  color: white
}

.mp {
  background-color: #0525a3;
  color: white
}


.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#characters {
  .columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: -10px;
    background-color: white;
    .column {
      padding: 0.75rem!important;
      p.time, p.name {
        font-size: 3vh;
        small {
          font-size: 2vh;
        }
      }
      &.amp {
        p {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}
